a {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.bottom {
  margin-bottom: 30px;
}

.title-service {
  color: #1A1B1A;
  font-size: 18px;
  font-weight: 700;
  font-family: "fontsans-bold", Fallback, sans-serif;
}

.second-text {
  color: #1A1B1A;
  font-size: 12px;
  font-weight: 400;
  font-family: "OpenSans-Regular", Fallback, sans-serif;
}

.col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.bottom>.row,
.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.bottom>.row {
  margin: 0px 12px 0px 12px;
  height: 150px;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.14),
    0px 3px 8px rgba(0, 0, 0, 0.114159);
  -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.14),
    0px 3px 8px rgba(0, 0, 0, 0.114159);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.14),
    0px 3px 8px rgba(0, 0, 0, 0.114159);
}

.col-3.d-flex img.d-flex.m-auto {
  max-width: 45px;
}

.spacing-top {
  margin-top: 20px;
}

.new-card-inversiones {
  width: 295px;
  height: 190px;
  padding: 20px !important;
}

.margin-top-bottom-5 {
  margin: 15px 0px 15px 0px;
}

.margin-10 {
  margin: 25px;
}

.container-cards-promociones {
  margin: 50px 0px 50px 0px;
}

.img-card-promociones {
  height: 205px;
  width: 100%;
}

.card-cuentas-preferencial {
  margin-bottom: 20px;
  height: 405px;
}

.div-btn-informacion {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.border-content-informacion {
  padding: 5%;
  min-height: 190px;
  margin: 1px;
}

.container-margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-tarjetas-preferencial {
  height: 400px;
  /* width: 350px;*/
}