
/* 
  body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fae9fb;
    position: relative;
  }
  body::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #ba24c2;
    clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
  } */
  .mi-contenedor {
    z-index: 12;
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    margin: 0 auto; /* Esto centra horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Esto centra verticalmente */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .mi-contenedor .cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
  }
  .cont .caja-imagen{
    max-width: 55%;
  }
  .cont .caja-imagen img{
    width: 100%;
  }
  .cont .tema{
    font-size: 22px;
    font-weight: 500;
    color: #ba24c2;
  }
  .cont form{
    width: 40%;
    margin-right: 30px;
  }
  .cont .input-box{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
  }
  .cont .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: #fae9fb;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .cont .input-box input:focus,
  .cont .input-box input:valid{
    border-color: #ba24c2;
    background-color: #fff;
  }
  .cont .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .cont .input-box input:focus ~ label,
  .cont .input-box input:valid ~ label{
    top: 0;
    left: 12px;
    display: 14px;
    color: #ba24c2;
    background: #fff;
  }
  .cont .mensaje-box{
    min-height: 100px;
    position: relative;
  }
  .cont .mensaje-box textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: #fae9fb;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    transition :all 0.3s ease;
  }
  .content .mensaje-box textarea:focus{
    border-color: #ba24c2;
    background-color: #fff;
  }
  .cont .mensaje-box label{
    position: absolute;
    font-size: 16px;
    color: #636c72;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .cont .mensaje-box textarea:focus ~ label{
    left: 12px;
    top: -10px;
    color: #ba24c2;
    font-size: 14px;
    background: #fff;
  }
  .cont .input-box input[type="submit"]{
    color: #fff;
    background: #ba24c2;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .cont .input-box input[type="submit"]:hover{
    background-color: #d43ddb;
  }
  @media (max-width:1000px) {
    .cont .caja-imagen{
      max-width: 70%;
    }
    .cont{
      padding: 10px 0;
    }
  }
  @media (max-width:900px) {
    .cont .caja-imagen{
      display: none;
    }
    .cont form{
      width: 100%;
      margin-left: 30px;
    }
  }